Extended-Fig5a.csv filter=lfs diff=lfs merge=lfs -text
Fig3b-Right.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3-ExprimentData-2layer.csv filter=lfs diff=lfs merge=lfs -text
Fig2g-Experiment-data.csv filter=lfs diff=lfs merge=lfs -text
Fig4e-STVP(4layer).csv filter=lfs diff=lfs merge=lfs -text
Fig2c-LowerMiddle.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3b.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3d-1layer.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig5c.csv filter=lfs diff=lfs merge=lfs -text
Fig2c-LowerRight.csv filter=lfs diff=lfs merge=lfs -text
Fig4e-ExperimentData-GenerateSTVP filter=lfs diff=lfs merge=lfs -text
Extended-Fig3a-FieldDistribution.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3c.csv filter=lfs diff=lfs merge=lfs -text
Fig2c-LowerLeft.csv filter=lfs diff=lfs merge=lfs -text
Fig2g-Right.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2d-Experiment-data.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2d-Left.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3-ExprimentData-3layer.csv filter=lfs diff=lfs merge=lfs -text
Fig2c-Upper.csv filter=lfs diff=lfs merge=lfs -text
Fig2e-Left.csv filter=lfs diff=lfs merge=lfs -text
Fig3d.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2b-Left.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3d-2layer.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3d-3layer.csv filter=lfs diff=lfs merge=lfs -text
Fig3c.csv filter=lfs diff=lfs merge=lfs -text
Fig4e-STVP(1layer).csv filter=lfs diff=lfs merge=lfs -text
Fig4e-STVP(3layer).csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3-ExprimentData-4layer.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2b-Right.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2d-Right.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig5b.csv filter=lfs diff=lfs merge=lfs -text
Fig2g-Left.csv filter=lfs diff=lfs merge=lfs -text
Fig3b-Left.csv filter=lfs diff=lfs merge=lfs -text
Fig4e-STVP(2layer).csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig2b-Experiment-data.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3d-4layer.csv filter=lfs diff=lfs merge=lfs -text
Fig2e-Right.csv filter=lfs diff=lfs merge=lfs -text
Fig3e.csv filter=lfs diff=lfs merge=lfs -text
Extended-Fig3-ExprimentData-1layer.csv filter=lfs diff=lfs merge=lfs -text
